WEBPASSWORD={{ pihole_WEBPASSWORD }}
CONDITIONAL_FORWARDING={{ pihole_CONDITIONAL_FORWARDING }}
ADMIN_EMAIL={{ pihole_ADMIN_EMAIL }}
WEBUIBOXEDLAYOUT={{ pihole_WEBUIBOXEDLAYOUT }}
WEBTHEME={{ pihole_WEBTHEME }}
DHCP_ACTIVE={{ pihole_DHCP_ACTIVE }}
DHCP_START={{ pihole_DHCP_START }}
DHCP_END={{ pihole_DHCP_END }}
DHCP_ROUTER={{ pihole_DHCP_ROUTER }}
DHCP_LEASETIME={{ pihole_DHCP_LEASETIME }}
PIHOLE_DOMAIN={{ pihole_PIHOLE_DOMAIN }}
DHCP_IPv6={{ pihole_DHCP_IPv6 }}
DHCP_rapid_commit={{ pihole_DHCP_rapid_commit }}
PIHOLE_INTERFACE={{ pihole_PIHOLE_INTERFACE }}
IPV4_ADDRESS={{ pihole_IPV4_ADDRESS }}
IPV6_ADDRESS={{ pihole_IPV6_ADDRESS }}
QUERY_LOGGING={{ pihole_QUERY_LOGGING }}
INSTALL_WEB_SERVER={{ pihole_INSTALL_WEB_SERVER }}
INSTALL_WEB_INTERFACE={{ pihole_INSTALL_WEB_INTERFACE }}
LIGHTTPD_ENABLED={{ pihole_LIGHTTPD_ENABLED }}
CACHE_SIZE={{ pihole_CACHE_SIZE }}
DNSMASQ_LISTENING={{ pihole_DNSMASQ_LISTENING }}
{% for DNS in pihole_PIHOLE_DNS %}
PIHOLE_DNS_{{ loop.index }}={{ DNS }}
{% endfor %}
DNS_FQDN_REQUIRED={{ pihole_DNS_FQDN_REQUIRED }}
DNS_BOGUS_PRIV={{ pihole_DNS_BOGUS_PRIV }}
DNSSEC={{ pihole_DNSSEC }}
REV_SERVER={{ pihole_REV_SERVER }}
BLOCKING_ENABLED={{ pihole_BLOCKING_ENABLED }}

